@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: 26, 26, 26;
    --color-text-muted: 130, 139, 156;
    --color-text-inverted: 255, 255, 255;
    --color-fill: 245, 249, 254;
    --color-button-accent: 127, 86, 217;
    --color-button-accent-hover: 182, 152, 242;
    --color-button-muted: 249, 245, 255;
  }
  .theme-dark {
    --color-text-base: 255, 255, 255;
    --color-text-muted: 133, 83, 253;
    --color-text-inverted: 255, 255, 255;
    --color-fill: 9, 13, 31;
    --color-button-accent: 127, 86, 217;
    --color-button-accent-hover: 182, 152, 242;
    --color-button-muted: 249, 245, 255;
  }
}
